html,
body {
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
  overflow-y: hidden;
  margin-left: auto;
  margin-right: auto;
  text-transform: bold;
}

/* Buy Ticket Page */
.container {
  background-color: #151515;
  width: 100%;
  margin-top: 78px;
  min-height: calc(200vh - 80px);
  color: aliceblue;
  transition: all 0.5s ease-in-out;
}

.movie-info {
  display: flex;
  padding: 50px;
  margin-bottom: 50px;
}

.movie-info-img {
  width: 100%;
}

.movie-info-img img {
  width: 304px;
  height: 450px;
  border-radius: 15px;
}

.movie-info-content {
  margin-left: -300px;
  width: 100%;
}

.movie-info-title {
  font-size: 35px;
  margin-right: 200px;
  border-bottom: 2px solid #608a2e;
  padding: 15px 0;
}

.movie-info-desc {
  width: 95%;
  line-height: 1.6;
  /* font-size: 1.15rem; */
  margin: 20px 0px;
}

.movie-info-detail {
  margin: 35px 0;
}

.movie-info-detail strong {
  float: left;
  margin-right: 50px;
}

.movie-info-content button iframe {
  aspect-ratio: 16/9;
}

/* showtime */
.showtime {
  min-height: 1400px;
  /* display: none; */
}

.showtime h3 {
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  margin: 10px 150px;
  border-bottom: 2px solid #608a2e;
  padding: 15px 15px;
}

.list-time {
  position: relative;
  max-width: 970px;
  margin: 0 auto;
}

.calendar ul {
  width: 850px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.calendar li {
  width: 70px;
  float: left;
  display: block;
  text-align: center;
  color: #98c83ec7;
  display: block;
  text-decoration: none;
  font-weight: 500;
  line-height: 24px;
  width: 80px;
  padding: 10px 10px;
}

.calender-date {
  color: #98c83ec7;
  display: block;
  text-decoration: none;
  font-weight: 500;
  line-height: 24px;
  width: 80px;
  padding: 10px 10px;
}
.calender-date.active {
  color: white;
  background-color: #97c83e;
}

.calendar span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.time {
  margin: 50px 0;
}

.time ul {
  width: 850px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.time li {
  display: block;
  font-size: 20px;
  text-align: center;
  margin: 0 65px 0 -20px;
}

.time a {
  line-height: 50px;
  text-decoration: none;
  padding: 20px 30px;
  color: #97a5be;
  background: #10171e;
  border: 2px solid #121c26;
  transition: all 0.3s ease-in-out;
}

.time a.active {
  color: white;
  background: #97c83e;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

/* Seat */
.seat-selection {
  background-color: #2f4a60;
  padding: 25px 50px;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-self: center;
}

.showcase {
  background-color: #121c26;
  padding: 10px 20px;
  border-radius: 5px;
  color: #777;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.showcase li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.showcase li div {
  margin: 5px;
}

.seat {
  background-color: #5f5f72;
  width: 15px;
  height: 15px;
  padding: 10px;
  border-radius: 5px;
}
.seat.selected {
  background-color: #97c83e !important;
}
.seat.vip {
  background-color: rgba(0, 255, 255, 0.542);
}
.seat.occupied {
  background-color: red;
}
.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}
.seat-container {
  perspective: 1000px;
  margin-bottom: 30px;
}
.screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  margin: 50px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75);
}
.seatname-left {
  float: left;
  margin-left: -100px;
}
.seatname-left th {
  background-color: #5f5f72;
  width: 15px;
  height: 15px;
  padding: 10px;
  border-radius: 5px;
}

.seatname-middle {
  float: left;
}

.seatname-right {
  float: right;
  margin-right: -100px;
}
.seatname-right th {
  background-color: #5f5f72;
  width: 15px;
  height: 15px;
  padding: 10px;
  border-radius: 5px;
}

p.noti-text {
  margin: 5px 0 50px;
}
p.noti-text span {
  color: #97c83e;
}

.list-time button {
  background-color: #97c83e;
  color: white;
  padding: 20px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.list-time button:hover {
  background-color: white;
  color: #97c83e;
  transition: all 0.3s ease-in-out;
}

/* food order */
.food-order {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem 5% 7rem;
  gap: 20px;
}

.food-order h3 {
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  margin: 10px 150px;
  border-bottom: 2px solid #608a2e;
  padding: 15px 15px;
  width: 85%;
}

.card {
  background-color: white;
  color: #10171e;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.food-img {
  width: 200px;
  overflow: hidden;
}

.food-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.food-category {
  font-size: 25px;
  padding: 10px 0 15px 0;
}

.price {
  font-size: 15px;
  padding-bottom: 15px;
}

.food-footer {
  padding: 20px;
}

.food-footer {
  cursor: pointer;
  user-select: none;
}
.food-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  width: 100%;
}

.food-footer span {
  border-style: solid;
  padding: 10px 15px;
  margin: 10px;
}

.food-order button {
  background-color: #97c83e;
  color: white;
  padding: 20px 20px;
  width: 200px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.food-order button:hover {
  background-color: white;
  color: #97c83e;
  transition: all 0.3s ease-in-out;
}

.confirm-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-height: 650px;
}

.confirm-screen h2 {
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid #608a2e;
  padding: 15px 15px;
  width: 75%;
}

.confirm-screen-wrapper {
  background-color: #777;
  max-width: 900px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 7rem;
}

.ticket-info {
  margin-left: 300px;
}

.info {
  display: flex;
  align-items: center;
}

.info h3 {
  margin-right: 10px;
}

.item {
  display: flex;
  align-items: center;
}

.item h3 {
  margin-right: 10px;
}

.ticket-confirm {
  background-color: #97c83e;
  color: white;
  padding: 20px 20px;
  width: 200px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.ticket-confirm:hover {
  background-color: white;
  color: #97c83e;
  transition: all 0.3s ease-in-out;
}
