/* Footer */
.foo {
  background-image: linear-gradient(#2f4a60, #121619);
  margin-top: -22px;
  padding: 25px 0;
}
.foo-container {
  max-width: 1170px;
  margin: auto;
}
.foo-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.foo-col {
  width: 15%;
  padding: 0 15px;
  margin-top: -20px;
}
.foo-col h4 {
  font-size: 25px;
  font-weight: bold;
  color: #97c83e;
  text-transform: capitalize;
  margin-bottom: 35px;
  position: relative;
}
.foo-col h4::before {
  content: "";
  left: 0;
  bottom: -10px;
  background-image: linear-gradient(#cedb2c, #97c83e);
  height: 2px;
  width: 65px;
  box-sizing: border-box;
  position: absolute;
}
.foo-col ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.foo-col ul li {
  margin-bottom: 15px;
}
.foo-col ul li a {
  font-size: 18px;
  font-weight: 300;
  color: #bbbbbb;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease-in-out;
}
.foo-col ul li a:hover {
  color: #97c83e;
  padding-left: 10px;
  transition: all 0.3s ease-in-out;
}
.foo-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  color: white;
  background-color: #747474;
  margin-right: 10px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.foo-col .social-links a:hover {
  color: #97c83e;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

/* Responsive */
@media (max-width: 767px) {
  .foo-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .foo-col {
    width: 100%;
  }
}