@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    box-sizing: border-box;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    overflow-y: hidden;
    margin-left: auto;
    margin-right: auto;
    text-transform: bold;
    font-size: 14px;
  }
.nowshowing-form {
    font-family: "Roboto", sans-serif;
    width:1900px;
    margin: 16px auto;
    background: linear-gradient(#2F4A60, #273C4D);
    border-radius: 10px;
    padding-top: 100px;
}
h1 {
    width: 414px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 100px;
    left: 512px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 48px;
    opacity: 1;
    text-align: center;
}
.mov-list {
    padding-bottom: 5px;
}
.mov-info {
    display: flex;
    padding: 150px 10px 10px 200px;
}
.movie-title{
    font-size: 30px;
    margin-bottom: 25px;
}

.movie-img {
    width: 100%;
   
}
.movie-img img {
    width: 282px;
    height: 431px;
    top: 495px;
    margin-left: 150px;
}
.movie-detail {
    margin: 10px 0;
}
.movie-content{
    
    width: 100%;
    margin-right: 500px;
}
.movie-detail strong {
    float: left; 
    margin-right: 20px;
}

.btn-time button {
    display:inline-block;
    padding:10px 20px;
    background-color: white;
    color: #97c83e;
    transition: 0.35s;
    font-size:17px;
    text-transform: bold;
    border-radius:5px;
    cursor:pointer;
    justify-content: center;
   text-align: center;
   color: white;
   background-color: #97c83e;
   border-radius: 5px;
   outline: none;
   border: none;
   font-size: 16px;
   cursor: pointer;
   transition: 0.35s;
   margin-right:10px;
   margin-bottom: 10px;
} 

